// Gotham Pro

@font-face {
    font-family: 'gothamprolight';
    src: url('../../fonts/GothamPro-Light.woff2') format('woff2'),
         url('../../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gothampromedium';
    src: url('../../fonts/GothamPro-Medium.woff2') format('woff2'),
         url('../../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamprobold';
    src: url('../../fonts/GothamPro-Bold.woff2') format('woff2'),
         url('../../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


body, html {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    flex-direction: column;

    &.active {
        overflow: hidden;
    }
}

// ::-webkit-scrollbar {
//     width: 0;
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     width: 0;
//     background: transparent;
// }

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

input, select, textarea {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    line-height: normal;
}

// ---------------------
body {
    background: #F7FAFC;
    font-size: 16px;
    font-family: $font-main, sans-serif;
    color: $color-main;
}

.title {
    font-family: $font-bold, sans-serif;
    font-size: 48px;
    color: #fff;

    span {
        color: $color-yellow;
    }
}

.subtitle {
    font-family: $font-bold, sans-serif;
    font-size: 24px;
    color: #fff;
}

.button {

    a {
        display: block;
        font-family: $font-bold, sans-serif;
        background: #F8DE15;
        
        border-radius: 3px;

        &:hover {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                background: rgba(24, 23, 37, 0.1);
            }
        }
    }
}

// label.input_error {
//     position: absolute;
//     z-index: 1;
//     bottom: -40px;
//     right: 0;
//     font-size: 14px;
//     display: inline-block;
//     padding: 5px;
//     color: #20262D !important;
//     background: $color-yellow;
//     border: 1px solid rgba(255, 255, 255, 0.4);
//     border-radius: 2px;

//     &:before {
//         content: "";
//         position: absolute;
//         bottom: 100%;
//         left: 10%;
//         margin-left: -5px;
//         -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
//         box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
//         border-width: 5px;
//         border-style: solid;
//         border-color: transparent transparent $color-yellow transparent;
//     }

// }

@media all and (max-width: 767px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }
}