.footer {
    padding: 60px 0 0;
    background-color: $color-main;

    &__header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);

        &-item {
            display: flex;
            align-items: center;
            
        }

        &-box {
            margin-right: 26px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        &-icon {
            width: 18px;
        }

        &-what {
            width: 24px;
        }

        &-link {
            width: 24px;
        }

        &-phone {
            color: #fff;
        }
    }

    &__main {
        margin-bottom: 46px;
        display: flex;
        justify-content: space-between;
    }

    &__copy {
        color: #fff;
        
    }

    &__right {
        display: block;
        font-family: 'gothamprolight', sans-serif;
        color: #fff;
    }

    &__list {
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 18px;
        }

        a {
            color: #fff;
            white-space: nowrap;
        }
    }

    &__bottom {
        padding: 15px 0;
        background-color: $color-yellow;

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-march {
            font-family: $font-bold, sans-serif;
        }

        &-link {
            font-family: 'gothampromedium', sans-serif;
            border-bottom: 1px solid $color-main;
        }
    }

    &__up {
        display: none;
        opacity: 0;
        justify-content: center;
        align-items: center;
        position:fixed;
        bottom: 60px;
        right: 25px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $color-yellow;
        cursor: pointer;

        &.active {
            display: flex;
            opacity: 1;
            animation: opacity ease 1s;
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        div {
            width: 12px;

            img {
                filter: brightness(0) saturate(100%) invert(5%) sepia(10%) saturate(3793%) hue-rotate(206deg) brightness(100%) contrast(90%);
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .footer {

        &__main {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__nav {
            margin-bottom: 20px;
        }

        &__copyright {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}

@media all and (max-width: 991px) {
    .footer {

        &__header {
            flex-wrap: wrap;

            &-item {
                width: 50%;
                margin-bottom: 20px;
            }
        }

        &__list {
            flex-direction: column;

        }

        &__item {
            margin-bottom: 20px;
        }
    }
}

@media all and (max-width: 577px) {
    .footer {

        &__header {
            flex-direction: column;
            align-items: center;
            padding: 0 0 60px;

            &-phone {
                font-size: 14px;
                white-space: nowrap;
            }

            &-box {
                margin-right: 10px;
            }
        }


        &__copyright {
            flex-direction: column;
            align-items: center;
        }

        &__copy {
            margin-bottom: 20px;
        }

        &__bottom {

            &-wrap {
                flex-direction: column;
                align-items: center;
            }

            &-march {
                margin-bottom: 20px;
            }
        }
    }
}