.footer {
    padding: 48px 0 0;
    background-color: $color-main;

    &__header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 48px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);

        &-item {
            display: flex;
        }

        &-img {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.6);
            }
        }

        &-icon {
            width: 18px;
        }

        &-what {
            width: 24px;
        }

        &-link {
            width: 24px;
        }

        &-phone {
            color: #fff;
        }
    }

    &__main {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__copy {
        color: #fff;
        
    }

    &__right {
        font-family: 'gothampromedium', sans-serif;
    }

    &__list {
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 10px;
        }

        a {
            color: #fff;
        }
    }

    &__bottom {
        padding: 15px 0;
        background-color: $color-yellow;

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-march {
            font-family: $font-bold, sans-serif;
        }

        &-link {
            font-family: 'gothampromedium', sans-serif;
            border-bottom: 1px solid $color-main;
        }
    }

    &__up {
        display: none;
        opacity: 0;
        justify-content: center;
        align-items: center;
        position:fixed;
        bottom: 60px;
        right: 25px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $color-yellow;
        cursor: pointer;

        &.active {
            display: flex;
            opacity: 1;
            animation: opacity ease 1s;
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        div {
            width: 12px;

            img {
                filter: brightness(0) saturate(100%) invert(5%) sepia(10%) saturate(3793%) hue-rotate(206deg) brightness(100%) contrast(90%);
            }
        }
    }
}