.hero {
    // height: 100vh;

    .container-fluid {
        padding: 0;
    }

    &__container {
        position: relative;
    }

    &__arrow {

        &-wrap {
            position: absolute;
            right: 20px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }

        &-wrapleft {
            top: 45%;
        }

        &-wrapright {
            top: 52%;
        }

        &-left,
        &-right {
            width: 13px;
        }
    }

    &__card {
        position: relative;

        &-img {
            background: $color-main;

            img {
                height: 100vh;
                object-fit: cover;
                opacity: 0.6;
            }

           
        }

        &-desc {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &-title {
            text-align: center;
            margin-bottom: 32px;
            animation: fadeInDown 1s both 1s;
        }

        &-subtitle {
            text-align: center;
            margin-bottom: 64px;
            animation: fadeInUp 1s both 1.5s;
        }

        &-button {
            display: flex;
            justify-content: center;
            animation: fadeInUp 1s both 2s;
            

            a {
                padding: 17px 50px;
                box-shadow: 0px 32px 80px rgba(248, 222, 21, 0.24);
            }
        }

        &-lines {
            

            div {
                width: 1px;
                height: 100%;
                position: absolute;
                background: rgba(255, 255, 255, 0.14);

                &:nth-child(1) {
                    top: 0;
                    left: 10%;
                }

                &:nth-child(2) {
                    top: 0;
                    left: 36.7%;
                }

                &:nth-child(3) {
                    top: 0;
                    left: 63.4%;
                }

                &:nth-child(4) {
                    top: 0;
                    left: 90%;
                }
            }
        }

        &-line {
            width: 0;
            height: 12px;
            background-color: $color-yellow;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            &.active {
                width:100%;
                animation:ProgressDots 11s both;
            }
        }
    }

    @keyframes ProgressDots{from{width:0px;}to{width:100%;}}

    .slick-dots {
        width: unset;
        z-index: 1;
        display: flex;
        flex-direction: column;
        bottom: unset;
        top: 44%;
        left: 10px;

        li {
            margin-bottom: 10px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.4);

            &.slick-active,
            &:hover {
                background: #fff;
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media all and (max-width: 577px) {
    .hero {

        &__arrow {

            &-left {
                transform: rotate(-90deg);
                position: relative;
                left: -2px;
            }

            &-right {
                transform: rotate(-90deg);
            }

            &-wrap {
                top: 66%;
            }

            &-wrapleft {
                right: unset;
                left: 15px;
            }

            &-wrapright {
                right: 15px;
            }
        }

        &__progress {

            &-wrap {
                display: none;
            }
        }

        .slick-dots {
            flex-direction: row;
            top: unset;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);

            li {
                margin-bottom: 0;

                &.slick-active {
                    margin-bottom: 0;
                }
            }
        }

        &__card {

            &-time {
                bottom: 70px;
            }

            &-title {
                padding: 0 15px;
            }

            &-subtitle {
                padding: 0 15px;
            }
        }
    }
}