.hero {
    // height: 100vh;

    .container-fluid {
        padding: 0;
    }

    &__container {
        position: relative;
    }

    &__arrow {

        &-wrap {
            position: absolute;
            right: 20px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }

        &-wrapleft {
            top: 45%;
        }

        &-wrapright {
            top: 52%;
        }

        &-left,
        &-right {
            width: 13px;
        }
    }

    &__progress {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 2px;
        overflow: hidden;
        background-image: linear-gradient(to right, #ffffff, #ffffff);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .4s ease-in-out;

        &-wrap {
            position: absolute;
            width: 64px;
            z-index: 1;
            left: -13px;
            top: 50%;
            transform: rotate(90deg);
        }
    }

    &__progressbar {
        width: 100%;
        height: 2px;
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        left: 0;
        top: 0;
    }

    &__card {
        position: relative;

        &-img {

            img {
                height: 100vh;
                object-fit: cover;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: rgba(24, 23, 37, 0.64);
            }
        }

        &-desc {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &-title {
            text-align: center;
            margin-bottom: 32px;
            animation: fadeInDown 1s both 1s;
        }

        &-subtitle {
            text-align: center;
            margin-bottom: 64px;
            animation: fadeInUp 1s both 1.5s;
        }

        &-button {
            display: flex;
            justify-content: center;
            animation: fadeInUp 1s both 2s;

            a {
                padding: 17px 50px;
            }
        }

        &-line {
            width: 100%;
            height: 12px;
            background-color: $color-yellow;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        &-time {
            width: 100%;
            position: absolute;
            bottom: 50px;
            left: 0;
            z-index: 1;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
    }

    .slick-dots {
        width: unset;
        z-index: 1;
        display: flex;
        flex-direction: column;
        bottom: unset;
        top: 44%;
        left: 10px;

        li {
            margin-bottom: 10px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.4);

            &.slick-active {
                background: #fff;
                margin-bottom: 80px;
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media all and (max-width: 577px) {
    .hero {

        &__arrow {

            &-left {
                transform: rotate(-90deg);
                position: relative;
                left: -2px;
            }

            &-right {
                transform: rotate(-90deg);
            }

            &-wrap {
                top: 55%;
            }

            &-wrapleft {
                right: unset;
                left: 15px;
            }

            &-wrapright {
                right: 15px;
            }
        }

        &__progress {

            &-wrap {
                display: none;
            }
        }

        .slick-dots {
            flex-direction: row;
            top: unset;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);

            li {
                margin-bottom: 0;

                &.slick-active {
                    margin-bottom: 0;
                }
            }
        }

        &__card {

            &-time {
                bottom: 70px;
            }
        }
    }
}