.test {
    margin-bottom: 100px;

    &__header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: $color-main;
    }

    &__arrow {
        display: flex;

        &-left,
        &-right {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: $color-yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #E1C917;
                
            }
        }

        &-left {
            margin-right: 16px;
        }

        &-wrap {
            width: 9px;
        }

        &-wrapright {
            position: relative;
            left: 2px;
        }
    }

    &__item {
        margin: 0 -17px;
        padding: 0 26px;
    }

    &__card {

        &-desc {
            margin-bottom: 24px;
            position: relative;
            padding: 32px 24px;
            background-color: #fff;
            border-radius: 3px;
            border-bottom: 6px solid $color-yellow;
            box-shadow: 0px 26px 60px rgba(62, 65, 67, 0.05);

            &:before{
                content: "";
                position: absolute;
                top: 103%;
                left: 50%;
                margin-left: -5px;
                box-shadow: 0px 35px 10px 0px rgba(0, 0, 0, 0.06);
                border-width: 7px;
                border-style: solid;
                border-color: $color-yellow transparent transparent transparent ;
            }
        }

        &-name {
            margin-bottom: 8px;
        }

        &-text {
            font-family: 'gothamprolight', sans-serif;
            color: #606060;
            line-height: 26px;
        }

        &-author {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-org {
            font-family: 'gothamprolight', sans-serif;
            color: #606060;
        }
    }
}