.video {
    padding: 72px 0 80px;
    background-color: $color-main;

    &__title {
        margin-bottom: 39px;
        text-align: center;
    }

    &__box {
        padding: 0 90px;
        position: relative;
        border-radius: 3px;

        &-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 86px;
            height: 86px;
            border-radius: 50%;
            background-color: $color-yellow;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
    
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    background: rgba(24, 23, 37, 0.1);
                }
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                -webkit-transform: translateX(2px);
                -ms-transform: translateX(2px);
                transform: translateX(2px);
                border-left: $color-main 17px solid;
                border-top: 11px solid transparent;
                border-right: 0;
                border-bottom: 11px solid transparent;
            }

            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;

                &:nth-child(1) {
                    width: 100px;
                    height: 100px;
                    border: 1px solid rgba(248, 222, 21, 0.8);
                }
                &:nth-child(2) {
                    width: 114px;
                    height: 114px;
                    border: 1px solid rgba(248, 222, 21, 0.6);
                }
                &:nth-child(3) {
                    width: 126px;
                    height: 126px;
                    border: 1px solid rgba(248, 222, 21, 0.4);
                }
                &:nth-child(4) {
                    width: 140px;
                    height: 140px;
                    border: 1px solid rgba(248, 222, 21, 0.2);
                }
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .video {

        &__box {
            padding: 0;
        }
    }
}